$wrapper-class: 'grid-wrapper';
$container-bk: 975px;
@mixin responsive($device) {
    @if($device==l) {
        @media screen and (min-width: $container-bk) {
            @content;
        }
    }
    @else if($device==s) {
        @media screen and (max-width: $container-bk) {
            @content;
        }
    }
}

.#{$wrapper-class} {
    width: 100%;
    margin: 0 auto;
    display: grid;
    // grid-template-columns: 100%;
    // grid-template-rows: 100vh;
    // grid-template-rows: 100vh;
    grid-auto-rows: auto;
    grid-template: 'header' 100vh 'transform-section' 'standout-section' 'graphic-article' 'photography-article' 'testimonials-section' 'gallery-section' 'footer' / 100%;
    @include responsive(l) {
        grid-template: 'header header' 100vh 'transform-section transform-section' 'standout-section standout-section' 'graphic-article photography-article' 700px 'testimonials-section testimonials-section' 'gallery-section gallery-section' 'footer footer' / 1fr 1fr;
    }
}

// HEADER
.header {
    width: 100%;
    position: relative;
    grid-area: header;
    .header-image {
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        height: 100%;
        transform: translate(0%, 0%);
    }
}

.header-container {
    display: grid;
    grid-template: 'logo menu' auto 'heading heading' 1fr 'arrow arrow' 148px / 148px auto;
    padding: 36px 24px;
    align-content: start;
    height: 100%;
    align-items: center;
    .header-logo {
        height: 24px;
        grid-area: logo;
    }
    .header-menu {
        justify-self: end;
        grid-area: menu;
    }
    .bx {
        width: 24px !important;
        cursor: pointer;
        height: 18px;
        z-index: 999;
        pointer-events: all;
    }
    .header-heading {
        @include typeface-1(mobile);
        grid-area: heading;
        color: $white;
        text-transform: uppercase;
        text-align: center;
        align-self: center;
        @include responsive(l) {
            @include typeface-1(desktop, h1);
        }
    }
    .arrow-icon {
        grid-area: arrow;
        height: 100%;
        max-width: 30px;
        justify-self: center;
    }
    .desktop-menu {
        display: none;
    }
    @include responsive(l) {
        .bx {
            display: none;
        }
        .desktop-menu {
            display: block;
        }
    }
}

// MOBILE MENU
.dropdown-menu {
    position: absolute;
    top: 90px;
    right: 25px;
    width: 75vw;
    min-height: 400px;
    opacity: 0;
    pointer-events: none;
    z-index: 999;
    transition: .8s ease;
    &.is-active {
        opacity: 1;
        pointer-events: all;
    }
    &::before {
        content: '';
        position: absolute;
        top: -5.5%;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 24px 24px;
        border-color: transparent transparent $white transparent;
    }
    background-color: $white;
    .dropdown-menu-list {
        display: grid;
        grid-auto-flow: row;
        justify-items: center;
        gap: 32px;
        padding: 48px 0;
        .dropdown-item {
            padding: 0 20px;
            // border: 1px solid red;
            &.is-active {
                background-color: $yellow;
                border-radius: 28px;
                .dropdown-link {
                    color: $very-dark-satured-blue;
                    @include typeface-1(mobile, h5);
                    text-transform: uppercase;
                }
            }
        }
        .dropdown-item .dropdown-link {
            color: $grayish-blue;
            padding: 10px;
            @include typeface-2(mobile, p1);
        }
    }
}

// DESKTOP MENU 
.desktop-menu {
    .desktop-menu-list {
        display: grid;
        grid-auto-flow: column;
        gap: 32px;
        .desktop-menu-item {
            .desktop-menu-link {
                color: $white;
                @include typeface-2(mobile, p1);
                padding: 10px;
            }
            &.is-active {
                background-color: $white;
                padding: 0 20px;
                border-radius: 28px;
                transition: background-color .5s ease;
                &:hover {
                    background-color: rgba(#24303E, 0.1);
                    .desktop-menu-link {
                        color: $white;
                    }
                }
                .desktop-menu-link {
                    color: $very-dark-satured-blue;
                    @include typeface-1(mobile, h5);
                    text-transform: uppercase;
                }
            }
        }
    }
}

.container {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    // gap: $gutter-module;
    margin: 0 auto;
    max-width: 80%;
    padding: $padding-module;
}

// TRANSFORM CONTAINER
.transform {
    grid-area: transform-section;
    .transform-content {
        .transform-heading {
            @include typeface-1(mobile, h2);
        }
        .transform-description {
            @include typeface-2(mobile, p2);
            color: $very-grayish-blue;
            margin: 24px 0;
        }
        .transform-cta {
            &::after {
                background-color: $yellow;
            }
        }
    }
    @include responsive(l) {
        grid-template: 'content image' / 1fr minmax(720px, 1fr);
        .transform-heading {
            max-width: 400px;
            @include typeface-1(desktop, h2)
        }
        .transform-content {
            grid-area: content;
            text-align: left !important;
            .cta-link {
                align-self: flex-start;
            }
            .transform-description {
                @include typeface-2(desktop, p1)
            }
        }
        .transform-image {
            grid-area: image;
        }
    }
}

// STAND-OUT CONTAINER
.standout {
    grid-area: standout-section;
    .standout-content {
        .standout-heading {
            @include typeface-1(mobile, h2);
        }
        .standout-description {
            margin: 24px 0;
            color: $very-grayish-blue;
        }
        .standout-cta {
            &::after {
                background-color: $soft-red;
            }
        }
    }
    @include responsive(l) {
        grid-template: 'image content' / minmax(720px, 1fr)1fr;
        .standout-content {
            .standout-heading {
                max-width: 400px;
                @include typeface-1(mobile, h2);
            }
            grid-area: content;
            text-align: left !important;
            .cta-link {
                align-self: flex-start;
            }
            .standout-description {
                @include typeface-2(desktop, p1)
            }
        }
        .standout-image {
            grid-area: image;
        }
    }
}

// GRAPHIC DESIGN CONTAINER
.graphic-design {
    grid-area: graphic-article;
    position: relative;
    height: 100%;
    .graphic-image {
        height: 100%;
    }
    .graphic-content {
        position: absolute;
        padding: 0;
        width: 100% !important;
        bottom: 5%;
        left: 60%;
        transform: translate(-60%, -5%);
        .graphic-heading {
            @include typeface-1(mobile, h3);
            color: $dark-satured-cyan;
        }
        .graphic-description {
            margin-top: 24px;
            @include typeface-2(mobile, p2);
            color: $dark-satured-cyan;
        }
    }
}

// PHOTOGRAPHY ARTICLE
article.photography {
    grid-area: photography-article;
    position: relative;
    .photography-image {
        height: 100%;
    }
    .photography-content {
        width: 100% !important;
        position: absolute;
        padding: 0;
        bottom: 5%;
        left: 60%;
        transform: translate(-60%, -5%);
        .photography-heading {
            @include typeface-1(mobile, h3);
            color: $dark-blue;
        }
        .photography-description {
            @include typeface-2(mobile, p2);
            color: $dark-blue;
            margin-top: 24px;
        }
    }
}

// TESTIMONIALS CONTAINER
.testimonials {
    margin: 92px 0;
    grid-area: testimonials-section;
    .testimonials-heading {
        @include typeface-1(mobile, h5);
        font-size: 16px;
        color: $grayish-blue;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        margin: 0 auto 72px auto;
    }
    .testimonials-list {
        display: flex;
        flex-direction: column;
        .testimonials-item {
            margin-bottom: 72px;
            padding: 0 32px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            .testimonial-photo {
                width: 72px;
                height: 72px;
                border-radius: 50%;
            }
            .testimonial-feedback {
                color: $very-dark-grayish-blue;
                @include typeface-2(mobile, p1);
                line-height: 32px;
                letter-spacing: -0.13px;
                margin: 16px 0;
            }
            .testimonial-name {
                color: $very-dark-satured-blue;
                @include typeface-1(mobile, h4);
                font-weight: lighter;
            }
            .testimonial-work {
                @include typeface-2(mobile, p2);
                color: $grayish-blue;
                margin-top: 16px;
            }
        }
    }
    @include responsive(l) {
        max-width: 975px;
        margin: 160px 0;
        justify-self: center;
        .testimonials-heading {
            margin-bottom: 96px;
        }
        .testimonials-list {
            flex-direction: row;
        }
        .testimonial-feedback {
            margin: 48px 0 !important;
        }
    }
}

// GALLERY CONTAINER
.gallery {
    grid-area: gallery-section;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include responsive(l) {
        grid-template-columns: repeat(4, minmax(360px, 1fr));
    }
}

// FOOTER
.footer {
    grid-area: footer;
    background-color: #90D4C6;
    .footer-container {
        padding: $padding-module;
        display: grid;
        justify-items: center;
        grid-template-columns: 100%;
        .footer-logo {
            max-width: 170px;
            path {
                fill: $dark-moderate-cyan
            }
        }
        .footer-menu-list {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: 1fr;
            // gap: 48px;
            margin: 56px 0 90px 0;
            .footer-menu-item {
                margin: 0 24px;
            }
            .footer-menu-item a {
                color: $dark-moderate-cyan;
                padding: 10px;
                transition: .5s ease;
                &:hover {
                    color: $white;
                }
            }
        }
        .social-networks-list {
            display: grid;
            grid-auto-flow: column;
            .social-network-item {
                margin: 0 12px;
                a {
                    padding: 10px;
                    .social-network-icon {
                        path {
                            transition: .5s ease;
                        }
                    }
                    &:hover {
                        .social-network-icon {
                            path {
                                fill: $white;
                            }
                        }
                    }
                }
            }
        }
    }
}